.game-title {
	font-family: var(--tgui--font-family);
	font-size: 20px;
	display: flex;
	flex-direction: row;
}

.game-wrapper {
	background-color: #000000;
	display: flex;
	flex-direction: column;
	flex: 1 1 0%;
	height: 100%;
	width: 100%;
}

.game-frame {
	height: 100%;
}

.game-loading {
	position: fixed;
	left: 0;
	top: 0px;
	/* top: 44px; */
	width: 100%;
	height: 100%;
	background-color: #1c1c1d;
	/* animation: anim 2s; */
}

.game-loading-fadeout {
	animation: anim 2s;
}

@keyframes anim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.recharge-dialog {
	overflow-y: hidden
}

.recharge-dialog > div {
	overflow-y: hidden;
	height:100%;
	display:flex;
	flex-grow: 1;
	/* flex:1 1 0%; */
}